# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
tfplan
*.tfplan

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Misc/IDE
.vscode

# Jest coverage
coverage/
